---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=alexandrebini
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7zbNpiIKSmA0yzjXlsUZ5M9ZG", oauth_nonce="2e791afbee0f9855a7a43672d3b54c53",
        oauth_signature="QndruYfY9q%2FxOV22jw8TyCSysJw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1420837335", oauth_token="14847045-YJMA1Ib6lK1rQeC2OCLrDyKljbGMk5SSnEVT9dxCU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 09 Jan 2015 21:02:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 901cc325c84e68d85461f306f1c59c1e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1420838235'
      X-Response-Time:
      - '52'
      X-Transaction:
      - ad0cdcd0e0e69186
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jul 30 18:24:04 +0000 2013","id":362277430544699392,"id_str":"362277430544699392","text":"I''m
        hiring! Scrum Master at Click Jogos - Ara\u00e7atuba Area, Brazil #jobs http:\/\/t.co\/sPzMrfuDBA","source":"\u003ca
        href=\"http:\/\/www.linkedin.com\/\" rel=\"nofollow\"\u003eLinkedIn\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14847045,"id_str":"14847045","name":"alexandrebini","screen_name":"alexandrebini","location":"S\u00e3o
        Paulo \/ Birigui \/ SP","profile_location":null,"description":"","url":"http:\/\/t.co\/dCoSipeVhB","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/dCoSipeVhB","expanded_url":"http:\/\/voraz.com.br","display_url":"voraz.com.br","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":182,"friends_count":159,"listed_count":8,"created_at":"Tue
        May 20 16:18:48 +0000 2008","favourites_count":0,"utc_offset":-7200,"time_zone":"Brasilia","geo_enabled":false,"verified":false,"statuses_count":418,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/343266313\/3579735906_1cb997b067_o_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/343266313\/3579735906_1cb997b067_o_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[{"text":"jobs","indices":[65,70]}],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/sPzMrfuDBA","expanded_url":"http:\/\/lnkd.in\/7K-P2K","display_url":"lnkd.in\/7K-P2K","indices":[71,93]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},{"created_at":"Sat
        Mar 09 22:18:32 +0000 2013","id":310514968405630976,"id_str":"310514968405630976","text":"Tentando....
        http:\/\/t.co\/gwPgSkXrGJ","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14847045,"id_str":"14847045","name":"alexandrebini","screen_name":"alexandrebini","location":"S\u00e3o
        Paulo \/ Birigui \/ SP","profile_location":null,"description":"","url":"http:\/[...]
