!/log/.keep
**.orig
*.rbc
.DS_Store
.env
.rspec
.rvmrc
/.bundle
/config/application.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/log/*
/public/system
/spec/tmp
/tmp
/vendor/assets/bower_components/*
/vendor/bundle
capybara-*.html
config/initializers/secret_token.rb
pickle-email-*.html
rerun.txt
public/assets