---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=-1&screen_name=josevalim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 12 Jan 2015 01:04:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 137050e2f06933ac80d96d7c4b046dc5
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1421025071'
      X-Response-Time:
      - '44'
      X-Transaction:
      - 475345aa0e728b99
    body:
      encoding: UTF-8
      string: '{"ids":[308934041,84700877,75193923,39851118,26196790,64392327,398766380,23415295,600539002,16087969,290119792,267946233,2822543874,211948267,37905924,124495204,42433024,121889946,89450146,29006976,2809664748,885398299,59018581,56651527,2518982738,1209558716,14629114,452213397,13518952,174658416,26321876,36064030,243834001,537520717,1886792622,213564204,27077955,15463137,57076762,11852402,5965462,14886374,32631996,24666450,1486443913,913481016,71471690,14716890,44405877,152306687,2166691608,2497113061,[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: UTF-8
      string: user_id=308934041%2C84700877%2C75193923%2C39851118%2C26196790%2C64392327%2C398766380%2C23415295%2C600539002%2C16087969%2C290119792%2C267946233%2C2822543874%2C211948267%2C37905924%2C124495204%2C42433024%2C121889946%2C89450146%2C29006976%2C2809664748%2C885398299%2C59018581%2C56651527%2C2518982738%2C1209558716%2C14629114%2C452213397%2C13518952%2C174658416%2C26321876%2C36064030%2C243834001%2C537520717%2C1886792622%2C213564204%2C27077955%2C15463137%2C57076762%2C11852402%2C5965462%2C14886374%2C32631996%2C24666450%2C1486443913%2C913481016%2C71471690%2C14716890%2C44405877%2C152306687
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 12 Jan 2015 01:04:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 78ca9d8bda0709d530eafb52a9d4e1c2
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1421025073'
      X-Response-Time:
      - '218'
      X-Transaction:
      - '6909796565002604'
    body:
      encoding: UTF-8
      string: '[{"id":308934041,"id_str":"308934041","name":"Alan Forrester","screen_name":"alan_forrester","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":12,"friends_count":108,"listed_count":0,"created_at":"Wed
        Jun 01 07:32:17 +0000 2011","favourites_count":7,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":23,"lang":"en","status":{"created_at":"Sun
        Jan 04 16:24:55 +0000 2015","id":551776299447250944,"id_str":"551776299447250944","text":"@TheJimHughes
        @AnnCoulter @NeilDegrassi @neiltyson I don''t rate Tyson highly for many reasons,
        but on this particular fact he is right.","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":549697634907070466,"in_reply_to_status_id_str":"549697634907070466","in_reply_to_user_id":407379007,"in_reply_to_user_id_str":"407379007","in_reply_to_screen_name":"TheJimHughes","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"TheJimHughes","name":"Jim
        Hughes","id":407379007,"id_str":"407379007","indices":[0,13]},{"screen_name":"AnnCoulter","name":"Ann
        Coulter","id":196168350,"id_str":"196168350","indices":[14,25]},{"screen_name":"NeilDegrassi","name":"Neil
        Degrassi Tyson","id":992481708,"id_str":"992481708","indices":[26,39]},{"screen_name":"neiltyson","name":"Neil
        deGrasse Tyson","id":19725644,"id_str":"19725644","indices":[40,50]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},{"id":84700877,"id_str":"84700877","name":"Thomas
        Weld","screen_name":"ThomasWeld","location":"ATL","profile_location":null,"description":"Front
        end developer | Currently honing my skills @TechTalentSouth + @treehouse |
        HTML + CSS + JavaScript + Ajax + jQuery | #webdev #developer | FOODIE x COFFEE","url":"http:\/\/t.co\/NhvyXTWXb3","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/NhvyXTWXb3","expanded_url":"http:\/\/thomasweld.com","display_url":"thomasweld.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":476,"friends_count":1696,"listed_count":7,"created_at":"Fri
        Oct 23 22:03:28 +0000 2009","favourites_count":225,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":137,"lang":"en","status":{"created_at":"Fri
        Jan 09 19:39:58 +0000 2015","id":553637321887993857,"id_str":"553637321887993857","text":"@Verizon
        @VerizonSupport STOP SPAMMING ME !! How do you keep getting my email address
        anyway ?? #creepy http:\/\/t.co\/D9s97IPjNy","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":59602642,"in_reply_to_user_id_str":"59602642","in_reply_to_screen_name":"Verizon","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"creepy","indices":[96,103]}],"symbols":[],"user_mentions":[{"screen_name":"Verizon","name":"Verizon","id":59602642,"id_str":"59602642","indices":[0,8]},{"screen_name":"VerizonSupport","name":"Verizon
        Support","id":37435412,"id_str":"37435412","indices":[9,24]}],"urls":[],"media":[{"id":553637321254268928,"id_str":"553637321254268928","indices":[104,126],"media_url":"http:\/\/pbs.twimg.com\/media\/B67qNdvCcAASLfT.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/B67qNdvCcAASLfT.png","url":"http:\/\/t.co\/D9s97IPjNy","display_url":"pic.twitter.com\/D9s97IPjNy","expanded_url":"http:\/\/twitter.com\/ThomasWeld\/status\/553637321887993857\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":435,"resize":"fit"},"small":{"w":340,"h":246,"resize":"fit"},"large":{"w":648,"h":470,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/538958053790744576\/tJ2jOKCh_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/538958053790744576\/tJ2jOKCh_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/84700877\/1418760506","profile_link_color":"1291F6","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":75193923,"id_str":"75193923","name":"HackToon!","screen_name":"hacktoon","location":"Nan","profile_location":null,"description":"Ca[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=-1&screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 12 Jan 2015 01:04:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - a5b1817898378495708621a08f350cdc
      X[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=-1&screen_name=wycats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 12 Jan 2015 01:04:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 123cec1ff3fbaec0bfae34346a25df6b
    [...]
[...]
