---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jan 2015 18:44:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8f54f7f6028b71970578b9614ba2d57a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1421002658'
      X-Response-Time:
      - '119'
      X-Transaction:
      - 6006e31c46945308
    body:
      encoding: UTF-8
      string: '{"users":[{"id":2225184676,"id_str":"2225184676","name":"Denis","screen_name":"niutenisu","location":"Romania","profile_location":null,"description":"I
        love Java, games, interesting people, edX, Udacity, Khan-Academy and Coursera.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":23,"friends_count":297,"listed_count":0,"created_at":"Sat
        Dec 14 12:21:14 +0000 2013","favourites_count":182,"utc_offset":7200,"time_zone":"Bucharest","geo_enabled":false,"verified":false,"statuses_count":266,"lang":"en","status":{"created_at":"Sat
        Jan 10 20:01:14 +0000 2015","id":554005060670480384,"id_str":"554005060670480384","text":"I
        love Ruby! Thanks CodeAcademy!","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/526461814368776192\/L8gyg0ER.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/526461814368776192\/L8gyg0ER.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/553214225909161985\/s-LtModC_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/553214225909161985\/s-LtModC_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2225184676\/1414352321","profile_link_color":"A35F0C","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false},{"id":179544251,"id_str":"179544251","name":"Rashida
        Thompson","screen_name":"rashidathompson","location":"Atlanta, GA","profile_location":null,"description":"Techie.
        Digital marketer. Freelance Wordpress developer. Ruby newbie. Dancing machine.
        #RashidaInTech2015.","url":"http:\/\/t.co\/HWE3uv0xWS","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/HWE3uv0xWS","expanded_url":"http:\/\/www.rashidathompson.com","display_url":"rashidathompson.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":958,"friends_count":1484,"listed_count":35,"created_at":"Tue
        Aug 17 15:13:04 +0000 2010","favourites_count":886,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":6374,"lang":"en","status":{"created_at":"Sun
        Jan 11 03:41:26 +0000 2015","id":554120875113730050,"id_str":"554120875113730050","text":"Patio
        punch. @ Joe''s Crab Shack http:\/\/t.co\/Eewj3JlA1C","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/Eewj3JlA1C","expanded_url":"http:\/\/instagram.com\/p\/xsu3WGOcGv\/","display_url":"instagram.com\/p\/xsu3WGOcGv\/","indices":[32,54]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"DBE9ED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme17\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme17\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/545652388527616000\/xpJYv4q8_normal.jpeg","profile_image_url_https":"https:\/\/pbs.tw[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?screen_name=wycats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jan 2015 18:43:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 6815ceb6ddff648fa4604f59f92d1936
      X-Rate-[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?screen_name=josevalim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jan 2015 18:42:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 833cfa3bf0673e98e2aeec8ae2d128a1
      X-Ra[...]
