---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=alexandrebini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jan 2015 17:51:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 949883a33667f2e739e9ad6ed695e98b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1420999611'
      X-Response-Time:
      - '88'
      X-Transaction:
      - 9b518f3d5de83684
    body:
      encoding: UTF-8
      string: '{"users":[{"id":2562367245,"id_str":"2562367245","name":"thalidemi","screen_name":"thaliassdc","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":313,"friends_count":556,"listed_count":0,"created_at":"Sat
        May 24 19:06:32 +0000 2014","favourites_count":72,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":108,"lang":"pt","status":{"created_at":"Sun
        Jan 11 02:40:25 +0000 2015","id":554105520450445314,"id_str":"554105520450445314","text":"RT
        @zoando: quando uma pessoa q eu nunca dei intimidade fala \"eu sei q vc me
        ama\" http:\/\/t.co\/jGR5XlBwl0","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jan 09 16:15:16 +0000 2015","id":553585808083783680,"id_str":"553585808083783680","text":"quando
        uma pessoa q eu nunca dei intimidade fala \"eu sei q vc me ama\" http:\/\/t.co\/jGR5XlBwl0","source":"\u003ca
        href=\"http:\/\/twuffer.com\" rel=\"nofollow\"\u003eTwuffer\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1263,"favorite_count":769,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":520052881366728705,"id_str":"520052881366728705","indices":[70,92],"media_url":"http:\/\/pbs.twimg.com\/media\/BzeZVxpIQAEkb6Y.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/BzeZVxpIQAEkb6Y.jpg","url":"http:\/\/t.co\/jGR5XlBwl0","display_url":"pic.twitter.com\/jGR5XlBwl0","expanded_url":"http:\/\/twitter.com\/fatosmaconha\/status\/520052883191234560\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":166,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":599,"h":294,"resize":"fit"},"medium":{"w":599,"h":294,"resize":"fit"}},"source_status_id":520052883191234560,"source_status_id_str":"520052883191234560","source_user_id":2470772227,"source_user_id_str":"2470772227"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},"retweet_count":1263,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"zoando","name":"zoando","id":366021734,"id_str":"366021734","indices":[3,10]}],"urls":[],"media":[{"id":520052881366728705,"id_str":"520052881366728705","indices":[82,104],"media_url":"http:\/\/pbs.twimg.com\/media\/BzeZVxpIQAEkb6Y.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/BzeZVxpIQAEkb6Y.jpg","url":"http:\/\/t.co\/jGR5XlBwl0","display_url":"pic.twitter.com\/jGR5XlBwl0","expanded_url":"http:\/\/twitter.com\/fatosmaconha\/status\/520052883191234560\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":166,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":599,"h":294,"resize":"fit"},"medium":{"w":599,"h":294,"resize":"fit"}},"source_status_id":520052883191234560,"source_status_id_str":"520052883191234560","source_user_id":2470772227,"source_user_id_str":"2470772227"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/554040420888768514\/TVlTXX-m_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/554040420888768514\/TVlTXX-m_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2562367245\/1420921334","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false},{"id":194960855,"id_str":"194960855","name":"Richard
        D. Johansen","screen_name":"ridjohansen","location":"Rio de Janeiro, RJ","profile_location":null,"description":"Senior
        Front-end Engineer @ Hotel Urbano - Desenvolvimento Web, HTML5, CSS3, SEO,
        WebStandards, Especialista Cross-Browser","url":"http:\/\/t.co\/Yp44P8MP5c","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Yp44P8MP5c","expanded_url":"http:\/\/lattes.cnpq.br\/9150161435364765","display_url":"lattes.cnp[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1417163300173346225&screen_name=alexandrebini
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 11 Jan 2015 17:51:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - e0a803db906b[...]
[...]
