---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=myrna
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7zbNpiIKSmA0yzjXlsUZ5M9ZG", oauth_nonce="8356e65165ad423a33d7819f5f8f0fb7",
        oauth_signature="osVBeAOtZr8DPwXe%2FAU2FB2m6%2BE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1420836811", oauth_token="14847045-YJMA1Ib6lK1rQeC2OCLrDyKljbGMk5SSnEVT9dxCU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 09 Jan 2015 20:53:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 559811314514c4eca4346fde559a6764
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1420837524'
      X-Response-Time:
      - '35'
      X-Transaction:
      - 2b2182ccfc5562dc
    body:
      encoding: UTF-8
      string: '{"id":100839225,"id_str":"100839225","name":"Myrna","screen_name":"myrna","location":"mumbai","profile_location":null,"description":"just
        love travellin da world,explorin unique destinations...","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":66,"friends_count":8,"listed_count":1,"created_at":"Thu
        Dec 31 20:30:54 +0000 2009","favourites_count":0,"utc_offset":19800,"time_zone":"Mumbai","geo_enabled":true,"verified":false,"statuses_count":19,"lang":"en","status":{"created_at":"Sun
        Sep 07 16:11:52 +0000 2014","id":508648858033729537,"id_str":"508648858033729537","text":"LIFE
        SKILLS: What our ambitions say about us..! http:\/\/t.co\/Z5N2pSDra6","source":"\u003ca
        href=\"https:\/\/dev.twitter.com\/docs\/tfw\" rel=\"nofollow\"\u003eTwitter
        for Websites\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/Z5N2pSDra6","expanded_url":"http:\/\/myrnapujary.blogspot.com\/2014\/09\/what-our-ambitions-say-about-us.html?spref=tw","display_url":"myrnapujary.blogspot.com\/2014\/09\/what-o\u2026","indices":[48,70]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FF6699","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme11\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme11\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1969692891\/IMG_0069_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1969692891\/IMG_0069_normal.jpg","profile_link_color":"B40B43","profile_sidebar_border_color":"CC3366","profile_sidebar_fill_color":"E5507E","profile_text_color":"362720","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 09 Jan 2015 20:53:32 GMT
recorded_with: VCR 2.9.3
