---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=clement_herman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7zbNpiIKSmA0yzjXlsUZ5M9ZG", oauth_nonce="aa009b4e5acec49cd4a40c9f65b943aa",
        oauth_signature="z2eR97Dcwd9zeaHR0dRtKWEpoV8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1420836624", oauth_token="14847045-YJMA1Ib6lK1rQeC2OCLrDyKljbGMk5SSnEVT9dxCU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 09 Jan 2015 20:50:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 12baf2aa01a8b88cfc04a7169d115316
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1420837524'
      X-Response-Time:
      - '34'
      X-Transaction:
      - 0d7d6f2613aa6e12
    body:
      encoding: UTF-8
      string: '{"id":1261112130,"id_str":"1261112130","name":"Clement Herman","screen_name":"clement_herman","location":"Roodepoort,Gauteng","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":303,"listed_count":1,"created_at":"Tue
        Mar 12 04:46:24 +0000 2013","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":84,"lang":"en","status":{"created_at":"Thu
        Jan 01 19:20:54 +0000 2015","id":550733421199491072,"id_str":"550733421199491072","text":"RT
        @FernandoxDope: its kind of scary how in a relationship one person can be
        so in love and the other can just be waiting for an opportunit\u2026","source":"\u003ca
        href=\"http:\/\/blackberry.com\/twitter\" rel=\"nofollow\"\u003eTwitter for
        BlackBerry\u00ae\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Dec 29 06:09:52 +0000 2014","id":549447188380524544,"id_str":"549447188380524544","text":"its
        kind of scary how in a relationship one person can be so in love and the other
        can just be waiting for an opportunity to end it","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":5873,"favorite_count":5446,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"retweet_count":5873,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"FernandoxDope","name":"F\u2132\u2800\u2800\u2800\u2800\u2800","id":2249102753,"id_str":"2249102753","indices":[3,17]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/440347078045487104\/UhEXcXDW_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/440347078045487104\/UhEXcXDW_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1261112130\/1393821880","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 09 Jan 2015 20:50:25 GMT
recorded_with: VCR 2.9.3
