---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=katelin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7zbNpiIKSmA0yzjXlsUZ5M9ZG", oauth_nonce="4106b25a89e7c949db8954db5eca0db7",
        oauth_signature="3arisH4hImaTHVynZ%2FEd9IMaXWg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1420836117", oauth_token="14847045-YJMA1Ib6lK1rQeC2OCLrDyKljbGMk5SSnEVT9dxCU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 09 Jan 2015 20:41:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 61f3cb40e6d0cba74764fc4508acd1cd
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1420837017'
      X-Response-Time:
      - '49'
      X-Transaction:
      - 398cc33bbad7e988
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Jan 09 18:37:50 +0000 2015","id":553621687443652608,"id_str":"553621687443652608","text":"@speckledpalate
        @Paula_CallMePMc sweet mercy that looks delectable.","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":553613535872573440,"in_reply_to_status_id_str":"553613535872573440","in_reply_to_user_id":306866636,"in_reply_to_user_id_str":"306866636","in_reply_to_screen_name":"speckledpalate","user":{"id":14353083,"id_str":"14353083","name":"Katelin
        Bannan","screen_name":"katelin","location":"Pasadena, CA","profile_location":null,"description":"wine
        drinker, list maker, tutu wearer, hollywood fact knower, car dancer & cheese
        eater extraordinaire.","url":"http:\/\/t.co\/xhJKHJ4Uxa","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/xhJKHJ4Uxa","expanded_url":"http:\/\/prettysandyfeet.com\/","display_url":"prettysandyfeet.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1039,"friends_count":263,"listed_count":108,"created_at":"Thu
        Apr 10 17:09:10 +0000 2008","favourites_count":274,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":19841,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"26BFA6","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/458737517840171008\/iB8yneAi.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/458737517840171008\/iB8yneAi.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1939998894\/Katelin_normal.JPG","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1939998894\/Katelin_normal.JPG","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14353083\/1399070484","profile_link_color":"030312","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"699B5A","profile_text_color":"000000","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"speckledpalate","name":"Erin","id":306866636,"id_str":"306866636","indices":[0,15]},{"screen_name":"Paula_CallMePMc","name":"Paula
        PMc Jones ","id":485085139,"id_str":"485085139","indices":[16,32]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Fri
        Jan 09 02:07:21 +0000 2015","id":553372424314818561,"id_str":"553372424314818561","text":"@HeySmalls
        YES. To all of this. Also, hugs. xoxo","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":553371997053681665,"in_reply_to_status_id_str":"553371997053681665","in_reply_to_user_id":27050231,"in_reply_to_user_id_str":"2705023[...]
